<div class="jumbotron">
  <h1 ng-href="#/">Combust JS</h1>
  <p class="lead">
    Add Rocket Fuel to your Apps !
  </p>
</div>

<div class="container">

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Basic Methods</h3>
  </div>
  <div class="panel-body">
    
    <div class="row marketing">
      <div><input type="text" class="form-control" ng-model="message.text"/></div>
      </br>
      <button type="button" class="btn btn-success" ng-click="setMessage()">Set Message</button>
      <button type="button" class="btn btn-warning" ng-click="updateMessage()">Update</button>
      <button type="button" class="btn btn-danger" ng-click="deleteMessage()">Delete</button>
    </div>
  
  </div>
</div>


<div class="panel panel-info">
  <div class="panel-heading">
    <h3 class="panel-title">Example Chat Application with .push( )</h3>
  </div>
  <div class="panel-body">
    <!-- Panel content -->

     <div ng-repeat="msg in messages">
     {{msg.user}} : {{msg.text}}
    </div>


    <div class="row marketing">
      <div>User:<input type="text" class="form-control" ng-model="msgUser"/></div>
      </br>
      <div>Message:<input type="text" class="form-control" ng-model="msgText"/></div>
      </br>
      <button type="button" class="btn btn-primary" ng-click="sendMessage()">Send Message</button>
    </div>
  </div>
</div>


</div>